<img src="./../../assets/dukiCanta.jpg">

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-justify-content-start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="share-social"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleIconHeart()">
        <ion-icon name="{{ isIconHeartSelected ? 'heart-outline' : 'heart' }}"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-toolbar class="centered-icons transparent-toolbar">
    <ion-buttons>
      <ion-button>
        <ion-icon name="shuffle"></ion-icon>
      </ion-button>
      <ion-button [class.pushedBack]="pushedBack" (click)="togglePushedBack()" [class.active]="pushedBack">
        <ion-icon name="play-back"></ion-icon>
      </ion-button>
      <ion-button (click)="togglePlayPause()">
        <ion-icon name="{{ isPlaying ? 'pause' : 'play' }}"></ion-icon>
      </ion-button>
      <ion-button [class.pushedNext]="pushedNext" (click)="togglePushedNext()" [class.active]="pushedNext">
        <ion-icon name="play-forward"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="repeat"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="music-progress">
    <div class="progress-bar"></div>
  </div>

  <div class="text-container">
    <div class="text-left">1:38</div>
    <div class="text-right">3:25</div>
  </div>

  <div class="text-container-two">
    <div class="text-left-primary">Playlist</div>
  </div>

  <ion-list class="list">
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/waitNoMBe.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Wait</h2>
      </ion-label>

      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/iFeelSoBad.jpg">
      </ion-avatar>
      <ion-label>
        <h2>I Feel So Bad</h2>
      </ion-label>

      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/goFuckYourself.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Go Fuck Yourself</h2>
      </ion-label>

      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>